@charset "utf-8";

body{
    background-color: rgb(7, 4, 58);
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
section{
    width:100%;
    height:100vh;
    background-image:url("static/background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background-color: rgb(187, 144, 3);
    box-shadow: rgb(187, 123, 3);
    padding:0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin:30px;
    font-family: serif;
    color: #2d2a2a;
    font-size: 35px;
    font-weight: 700;
}
.logo{
    font-family: fantasy;
    color: #2d2a2a;
    font-size: 30px;
    font-weight: 700;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}

.text-conatiner p:nth-child(1){
    font-family: serif;
    font-weight: bold;
    color: #000000;
    font-size: 34px;
}

.text-conatiner p:nth-child(2){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing:1px;
    color: #000000;
    font-size: 60px;
}

.text-conatiner p:nth-child(3){
    font-family: serif;
    color: #000000;
    font-size: 40px;
    line-height: 30px;
}

.text-conatiner {
    line-height: 0px;
    margin:45px 0px 25px
}

.text-conatiner {
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%,-42%);
}

.text-conatiner button{
    width: 150px;
    height: 50;
    border-radius: 15px;
    font-family: serif;
    font-size: 14px;
    font-weight: bold;
    margin:0px 10px;
}
.hire-btn{
    border: 2px #000000;
    color: #000000;
    background-color: rgb(225, 231, 235);
}

.hire-btn:hover {
    cursor: pointer;
}

.down-rm{
    background-color: rgb(225, 231, 235);
    color: #000000;
    border: none;
}

 button:active{
    transform: scale(1.1);
 }

 .model{
     height:350px;
     position: absolute;
     bottom: 270px;
     left: 75%;
     transform: translate(-50%);
     height: 35%;
     width: 30%;
     border-radius: 30px;
     border: 8px solid rgb(187, 123, 3);
     
}

 .about-conatiner{
     width:83%;
     height: 50vh;
     border-radius: 20px;
     background-color:rgb(187, 123, 3);
     box-shadow:2px 2px 12px rgb(0, 0, 0);
     display: flex;
     margin: 2% auto 20px auto;
     position: relative;
     justify-content: space-evenly;
     align-items: center;
}

 .about-text{
     width: 700px;
}

 .about-text p:nth-child(1){
     color: #000000;
     font-family: serif;
     font-weight: bold;
     font-size: 35px;
     line-height: 0px;
 }


 .about-text p:nth-child(2){
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
}


.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #000000;
    font-family: serif;
    font-size: 20px;
}

.about-text button{
    width: 150px;
    height: 50px;
    color: aliceblue;
    outline: none;
    border: none;
    font-family: serif;
    font-size: 15px;
    background-color: rgb(4, 3, 14);
}

.contact-me{
    width: 100%;
    height: 230px;
    background-image: url("static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contact-me p{
    color: #000000;
    font-size: 40px;
    font-family: serif;
    font-weight: bold;
    border-bottom: 2px;
}

.contact-me button{
    width: 200px;
    height: 40px;
    color: #000000;
    font-size: 20px;
    font-family: serif;
    font-weight: 100;
    border-radius: 20px;
}